{% extends "website/base.html" %}

{% block description %}{{ meta.meta_description }}{% endblock %}
{% block keywords %}{{ meta.meta_keywords }}{% endblock %}
{% block title %} Rootline {% endblock %}

{% load dictionary_filters %}

{% block content %}

{% include 'partials/first-screen.html' %}
<div class="main-content">
  {% include 'partials/about.html' %}
  {% include 'partials/services.html' %}
  {% include 'partials/projects.html' %}
  {% include 'partials/reviews.html' %}
  {% include 'partials/articles.html' %}
</div>

{% endblock %}
