{% if articles %}
{% load i18n %}
{% load easy_thumbnails_tags %}
<section class="container">
  <div class="row">
    <div class="col-12">
      <div class="grow__title d-flex justify-content-between align-items-center mb-5">
        <h3 class="grow-title title-simple">
          {{ articles_block.title }}
        </h3>
        <a href="{% url 'blog:article_list' %}" 
          class="grow__link"
          aria-label="{% trans 'Read more about' %} {{ article.title }}" 
          title="{% trans 'Read more about' %} {{ article.title }}">
          {{ articles_block.link_text }}
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    {% for article in articles %}
    <article class="service-card col-12 col-lg-6 col-xl-4">
        <div class="service__img">
          <picture>
            <!-- Большие экраны (min-width: 1400px) -->
            <source
              media="(min-width: 1400px)"
              srcset="{{ article.image|thumbnail_url:'width420' }}"
            >
            <!-- 1200..1399px -->
            <source
              media="(min-width: 1200px)"
              srcset="{{ article.image|thumbnail_url:'width360' }}"
            >
            <!-- 992..1199px -->
            <source
              media="(min-width: 992px)"
              srcset="{{ article.image|thumbnail_url:'width458' }}"
            >
            <!-- 768..991px -->
            <source
              media="(min-width: 768px)"
              srcset="{{ article.image|thumbnail_url:'width690' }}"
            >
            <!-- До 767px: fallback -->
            <img
              src="{{ article.image|thumbnail_url:'width510' }}"
              alt="Article Image"
              class="background-image"
              loading="lazy"
            >
          </picture>
        </div>
        <div class="service-card__text">
          <h2><a href="{% url 'blog:article_detail' article.slug %}">{{ article.title }}</a></h2>
          <div>{{ article.text|truncatewords:30|safe }}</div>
          <a class="services-more" href="{% url 'blog:article_detail' article.slug %}">{% trans "Read more" %}</a>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
{% endif %}